<div class="container mt-4 shadow">
  <div class="card mb-3 mt4" style="max-width: 900px;">
      <div class="row g-0">
        <div class="col-md-3">
          <%= image_tag("images.png", :alt => "rss feed", class: 'img-fluid rounded-start')   %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
          <h5 class="card-title"> <%= link_to @user.name, user_url(@user), class: 'display-5 text-primary' %></h5>            
            <p class="text-end">Number of posts: 
              <%= @user.posts_counter ?  @user.posts_counter : 0   %>
            </p>
          </div>
        </div>
      </div>
    </div>

  <div class="card mt-5">
    <h3>Bio:</h3>
    <%= @user.bio %>
  </div>

  <div class='card mt-5 mb-3'>
    <ul class="list-unstyled mt-4">
      <% @post.each do |post| %>
        <li class="card mb-3">
          <h4>Post <%= post.id %></h4>
          <a href="<%= user_posts_path(@user) %>" class="">
            <div class="">
              <div>  
                <p class="">Post Title: <%= post.title %></p>
                <p class="">Post Text: <%= post.text %></p>
              </div> 
              <p class="">Likes: <%= post.likes_counter %> , Comments: <%= post.comments_counter %></p>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <br>

  <div class='text-center'>
    <%= link_to ("See all posts"), user_posts_path(@user.id), class: "btn btn-outline-primary" %>
  </div>
  <br>
</div
