<div class='container mt-3 mb-3'>
  <h1 class="mb-3">Here is a list of posts for a user</h1>

  <div class='text-start mb-3 form-control w-50'>
    <h3>
      <%= link_to ("Create a new post"), new_user_post_path(@user.id), class: "text-lg text-primary" %>
    </h3>
  </div>

  <div class="form-control shadow">
    <%= render @user %>
  </div>

  <div class="form-control mt-3">
    <%@user.posts.each do |post|%>
      <div class='mt-5 border shadow'>
        <%= render post %>
        <div class='card mt-3'>
          <%post.last_five_comments.each do |comment|%>
            <p><%=post.author.name%>: <%=comment.text%></p>
          <%end%>
        </div>  
      </div>    
    <%end%>
  </div>

  <br>
  <div>
    <button class="btn btn-outline-dark">Pagination</button>
  </div>  

</div>

